<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Number to Word</title>

    <!-- css -->
    <link rel="stylesheet" href="/Assets/css/bootstrap.min.css">
    <link href="/Assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="/Assets/css/nivo-lightbox.css" rel="stylesheet" />
    <link href="/Assets/css/nivo-lightbox-theme/default/default.css" rel="stylesheet" type="text/css" />
    <link href="/Assets/css/animations.css" rel="stylesheet" />
    <link href="/Assets/css/style.css" rel="stylesheet">
    <link href="/Assets/color/default.css" rel="stylesheet">

</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-custom" ng-app="numConvertApp">

    @RenderBody()


    <!-- Core JavaScript Files -->
    <script src="https://code.angularjs.org/1.6.9/angular.js"></script>
    <script src="/Assets/scripts/jquery.min.js"></script>
    <script src="/Assets/scripts/bootstrap.min.js"></script>
    <script src="/Assets/scripts/jquery.sticky.js"></script>
    <script src="/Assets/scripts/jquery.easing.min.js"></script>
    <script src="/Assets/scripts/jquery.scrollTo.js"></script>
    <script src="/Assets/scripts/jquery.appear.js"></script>
    <script src="/Assets/scripts/stellar.js"></script>
    <script src="/Assets/scripts/nivo-lightbox.min.js"></script>

    <script src="/Assets/scripts/custom.js"></script>
    <script src="/Assets/scripts/css3-animate-it.js"></script>
    <script src="/Assets/scripts/app.js"></script>
    <script src="/Assets/scripts/convert.js"></script>
    <script src="/Assets/scripts/dataFetchService.js"></script>

</body>
</html>
