@{
    ViewBag.Title = "About";
}


<!-- Section: about -->
<section id="about" class="home-section color-dark bg-white">
    <div class="container marginbot-50">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="animatedParent">
                    <div class="section-heading text-center animated bounceInDown">
                        <h2 class="h-bold">About Suhas Muralidhara Kesarla</h2>
                        <div class="divider-header"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="container">


        <div class="row">


            <div class="col-lg-8 col-lg-offset-2 animatedParent">
                <div class="text-center">
                    <p>
                        Suhas is a <b>Sitecore Certified Developer</b> within the Deloitte Digital Practice specializing in the Sitecore CMS. He possesses experience in Object-Oriented Design and Analysis with extensive experience in the full cycle of the software development process since 2009. Suhas has executed around 10 Sitecore implementations till now majorly for insurance clients which include <b>implementation of full page editor and content editor friendly websites, design sites to support multisite and multiple languages, personalization, Sitecore Upgradation, Migration of Legacy ASP.NET sites to Sitecore, Sitecore Customization, Custom Analytics Implementation and SOLR</b>. In addition, he has also conducted numerous workshops for clients in educating them about Sitecore and its features so that they can take full advantage of the CMS and also help content authors in using Sitecore and understand the various features of the CMS.
                    </p>
                    <a href="mailto:suhas.kesarla@gmail.com" class="btn btn-skin btn-scroll">Get In touch</a>
                </div>
            </div>


        </div>
    </div>

</section>
<!-- /Section: about -->
