<?xml version="1.0" encoding="utf-8"?>
<!--
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
  <appSettings>
    <!--NWC Application COnfigurations-->

    <add key="AllowNegative" value="true" />

    <add key="NumberDictionary" value="1000000000000|Trillion,1000000000|Billion,1000000|Million,1000|Thousand,100|Hundred" />
   

    <add key="UnitsMap" value="Zero,One,Two,Three,Four,Five,Six,Seven,Eight,Nine,Ten,Eleven,Twelve,Thirteen,Fourteen, Fifteen, Sixteen, Seventeen, Eighteen, Nineteen" />
    <add key="TensMap" value="Zero,  Ten ,  Twenty ,  Thirty ,  Forty ,  Fifty ,  Sixty ,  Seventy ,  Eighty ,  Ninety" />

    <add key="CurrencyUnit-Singular" value="Dollar" />
    <add key="CurrencySubUnit-Singular" value="Cent" />
    <add key="CurrencyUnit-Plural" value="Dollars" />
    <add key="CurrencySubUnit-Plural" value="Cents" />

    <add key="NumberRequiredValidationMessage" value="Number is required." />
    <add key="NameRequiredValidationMessage" value="Name is required." />
    <add key="ValidDecimalValidationMessage" value="Please enter a valid decimal number between -1000000000000 and +1000000000000" />
    <add key="ValidDecimalRegex" value="^[\+\-]?\d{0,13}\.?\d*$" />
  </appSettings>

    <connectionStrings>

    </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Abstractions" publicKeyToken="6d32ff45e0ccc69f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
