<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Number Application COnfigurations-->

    <add key="AllowNegative" value="true"/>

    <add key="NumberDictionary" value="1000000000000|Trillion,1000000000|Billion,1000000|Million,1000|Thousand,100|Hundred"/>
    <!--<add key="NumberDictionary" value="10000000|crore,100000|Lakh,1000|Thousand,100|Hundred"/>-->

    <add key="UnitsMap" value="Zero,One,Two,Three,Four,Five,Six,Seven,Eight,Nine,Ten,Eleven,Twelve,Thirteen,Fourteen, Fifteen, Sixteen, Seventeen, Eighteen, Nineteen"/>
    <add key="TensMap" value="Zero,  Ten ,  Twenty ,  Thirty ,  Forty ,  Fifty ,  Sixty ,  Seventy ,  Eighty ,  Ninety"/>

    <add key="CurrencyUnit-Singular" value="Dollar"/>
    <add key="CurrencySubUnit-Singular" value="Cent"/>
    <add key="CurrencyUnit-Plural" value="Dollars"/>
    <add key="CurrencySubUnit-Plural" value="Cents"/>

    <add key="NumberRequiredValidationMessage" value="Number is required."/>
    <add key="NameRequiredValidationMessage" value="Name is required."/>
    <add key="ValidDecimalValidationMessage" value="Please enter a valid decimal number between -1000000000000 and +1000000000000"/>
    <add key="ValidDecimalRegex" value="^[\+\-]?\d{0,13}\.?\d*$"/>
  </appSettings>
</configuration>