
@{
    ViewBag.Title = "PageNotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="about" class="home-section color-dark bg-white">
    <div class="container marginbot-50">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="animatedParent">
                    <div class="section-heading text-center animated bounceInDown">
                        <h2 class="h-bold">404 - Opps! You have some problems</h2>
                        <div class="divider-header"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="container">


        <div class="row">


            <div class="col-lg-8 col-lg-offset-2 animatedParent">
                <div class="text-center">
                    <p>
                        The page you are looking for was moved, removed, renamed or might never existed.
                    </p>
                    <a href="/" class="learn-more-btn btn-scroll">Go Home</a>
                </div>
            </div>


        </div>
    </div>

</section>
